body{
	
	 display: block;
  position: relative;

}

/*Xử lý cho image background giảm opacity*/
body::after {
  content: "";
  background:url(../images/bg.jpg) ; 
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
a:focus{
	outline: none;
}
/*Chỉnh màu , độ cao của menu*/
.navbar-default
{
	font-size: 12px;
	background-color:#e31489;
	min-height: 96px;
	box-shadow: 4px 4px #d5d4d4;
	-webkit-box-shadow: 4px 4px #d5d4d4;
	-moz-box-shadow: 4px 4px #d5d4d4;
	-ms-box-shadow: 4px 4px #d5d4d4;
}
/*Chỉnh vị trí logo*/
.navbar-brand{
	width: 137px;
	height: 41px;
	margin-top: -10px;
}
/*Chỉnh vị trí của nguyên tab menu*/
 /*.navbar-collapse {
	margin-top: 45px;
}*/

.navbar-nav > li{
	margin-right:10px;
	min-height: 28px;
	z-index: 9999;
}
/*Chỉnh màu độ rộng của các tab menu*/
.navbar-default .navbar-nav > li > a{
	color: white;
	margin-top: 5px;
	padding: 5px 10px;

}
.navbar-default .navbar-nav > li > a:hover{
	font-weight: bold;
	color:white;
}/*Chỉnh vị trí icon search*/
/*.glyphicon-search{
	margin-left: -20px;
}*/
/*Vịtrí số lượng giỏ hang*/
#tongsoluong{
	position: absolute;
	padding-top: -20px;
	margin-left: -18px;
}

/*Chỉnh vị trí chữ đăng nhập, đăng xuất*/
.navbar-right1{
	float:right;
	margin-top: -5px;
}

.loginsignin{
	margin-top: 12px;
}

#path{
	margin-top: 20px;

	font-size: 12px;
	margin-bottom: 10px;
}
.main-gioithieu{
	border: solid 2px black;
	 border-radius: 25px;
	-webkit-border: solid 2px black;
	-moz-border: solid 2px black;
	-ms-border: solid 2px black;
}
.main-gioithieu .imgcty{


    margin: 10px auto;
   
}
.main-gioithieu>p{
	margin-left: 34px;
	margin-top: 20px;
	margin-right: 34px;
}
.footer-1{
	height: 23px;
	background: url(../images/hr.png) repeat-x;
	margin-top:25px;
}
.footer-2{
	margin-top: 7px;
	padding-bottom: 20px;
	background:url(../images/bg-footer2.png) repeat;
}
.footer-3{

	background: url(../images/hr.png) repeat-x;
	margin-top:14px;
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 24px;
}
.listfooter>li>a{
	color: white;
	font-size: 12px;
	
	text-decoration:none;
}
.listfooter>li{
	color: white;
	font-size: 12px;
	
	text-decoration:none;
}
.listfooter>.tieudefooter{
	font-weight: bold;
	font-size: 14px;
	padding-top: 30px;
	color: white;
}
.imgmxh{
	width: 30px;
	height: 30px;
}

#backtotop{
	position: fixed;
    bottom: 0;
    right:10px;
   
    z-index: 999;

}
.nd{
    position: fixed;
    bottom: 0;
    right:40px;
    width: 300px;
    z-index: 999;

}
.tieudechat{
    background: #e31489;
    width: 300px;
    color:white;
    padding :10px;
    border: 1px solid  grey;
}
.kqchat{
    background: white;
    width: 300px;
    height:300px;
    overflow: auto;
    float:left;
    padding:5px;
    z-index: 999;
    border: 1px solid grey;
    word-break: break-all;
}

.noidungchat{
    width: 300px;
    background: white;
    height: 365px;
 
}
.noidungchat>textarea{
    background: white;
     border: 1px solid grey;
     width: 100%;
     height: 365px;
     padding: 5px;
}


.message-bubble {
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) {
    background-color: red;
}

.message-bubble>* {
    padding-left: 10px;
}
/*Chỉnh style khung đăng nhập*/
.modal-header{
	background-color: #e31489;
	color: white;
	font-weight: bold;
	text-align: center;

}
.control-label{
	width:25%;
	float: left;
}
.form-control{
	width: 50%;
}
.formradio{
	width: 5%;
}
.btnLogin{
	background: #e31489;
	color: white;
}
input[type=checkbox]{
	margin-left: 70px;
	width: 5%;
	float: left;
	
}
.control-label-agree{
	width: 65%;
	text-align: center;
}
/*Chỉnh lại vị trí button đăng ký*/
.modal-footer1{
	margin-top: 50px;
} 

/*Chỉnh độ rộng form ở footer*/
#inputFooter{
	width: 100%;
}

