<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thanh Tâm Company</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/chitietsp.css">
	<link rel="stylesheet" href="css/slideshow_chitietsp.css">
	<link rel="stylesheet" href="css/zoom-hover-chitietsp/xzoom.css">
	 <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="images/logo.png"/>
				</a>
			</div>
	
		<div id="nav-responsive1" class="collapse navbar-collapse navbar-ex1-collapse navbar-right1">
					<ul class="nav navbar-nav">
						<li class="loginsignin"><a id="login" href="" data-whatever="@mdo">Đăng nhập</a></li>

						<li class="loginsignin"><a href="" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Đăng ký</a></li>
						<li ><a href="#"><img src="images/cart.png"/><span id="tongsoluong"></span></a>
						</li>
					</ul>	
		</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Trang chủ</a></li>
						<li><a href="#">Sản phẩm</a>
						<ul>
							<li class="titlesubmenu">Thương hiệu</li>
							<li><a href="#">Lego</a>
								<ul>
									<li>
									<a href="#">Bộ xếp hình XYZ</a></li>
									<li><a href="#">Robot điều khiển 2017</a></li>
									<li><a href="#">Siêu nhân điện quang</a></li>
								</ul>
							</li>
							<li>
							<a href="#">Babie</a>
								<ul>
									<li>
									<a href="#">Búp bê Elsa</a></li>
									<li><a href="#">Búp bê Cô bé tóc dài</a></li>
									
								</ul>
							</li>

							<li><a href="#">Fisher Price</a>
								<ul>
									<li>
									<a href="#">Bộ câu cá Pro</a></li>
									<li><a href="#">Cá nhồi bông NewFish</a></li>
									
								</ul>
							</li>
							<li><a href="#">Litle Tikes</a>
								<ul>
									<li>
									<a href="#">Xe đạp địa hình thế hệ mới</a></li>
									<li><a href="#">Xe điều khiển từ xa MyCar</a></li>
									<li><a href="#">Xe ô tô Kid</a></li>
								</ul>
							</li>
							<li><a href="#">Mattel</a>
								<ul>
									<li>
									<a href="#">Gấu nhồi bông 2017</a></li>
									<li><a href="#">Chong chóng điện tử Lazy</a></li>
									
								</ul>
							</li>
							<li><a href="#">Summer Infant</a>
								<ul>
									<li>
									<a href="#">Bể bơi trẻ em LakeLake</a></li>
									<li><a href="#">Áo bơi cho trẻ em chất lượng cao</a></li>
									<li><a href="#">Nón lưỡi trai Cool Boy</a></li>
								</ul>
							</li>
						</ul>
						
					</li>
					<li><a href="gioithieu.html">Giới thiệu</a></li>
					<li><a href="lienhe.html">Liên hệ</a></li>
				</ul>
				
				<form class="navbar-form navbar-right" role="search">

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Tìm kiếm" onblur="this.placeholder = 'Tìm kiếm'" onfocus="this.placeholder = ''">
						<a href="#"><span class="glyphicon glyphicon-search"></span></a>
					</div>
					
				</form>
		
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container-fluid">
		<!--Đường dẫn trang web-->	

		<div id="path">
			<img src="images/home.png" alt="home" />
			<a href="index.html">Trang chủ</a>&nbsp;>
			<a href="chitietsp.html">Chi tiết sản phẩm</a>
		</div>

		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-1">
				<img id="sp2" class="xzoom img-responsive" src="images/chitietsp/sp2.jpg"  xoriginal="images/chitietsp/sp2_large.jpg" alt="Xe cân bằng Buba Bike"/>
				
				<div class="info-sp">
					<p style="font-weight:bold; font-size: 18px;color:#e31489;text-decoration:underline #e31489;">XE CÂN BẰNG BABA BIKE</p>
					<p><b>Giá</b>: <span style="color:#6c4efe"> 1.650.000 đ</span></p>
					<p>Làm bằng hợp kim chắc chắn và an toàn
						Có thể điều chỉnh chiều cao yên xe phù hợp chiều cao bé
						Bánh xe 12 inch phù hợp mọi địa hình
					</p>
					<p><b>Số lượng</b>
						<input id="soluong" value="1" type="number" name=""/>
					</p>
						<button id="btnAddToCart" type="button" class="btn bg-btn">Thêm vào giỏ hàng</button>
					<p style="color:#6c4efe">Mô tả sản phẩm</p>
					<p>
						Xe Cân Bằng BubaBike UDS là chọn lựa thú vị cho bé từ 2,5 tuổi trở lên thích vận động. Ngoài việc giúp bé làm quen với xe đạp, xe cân bằng BubaBike còn giúp bé cách giữ thăng bằng, cách vận động toàn thân một cách hiệu quả. Dòng xe UDS được thiết kế có thể thay đổi thành 2 kiểu dáng khác nhau, nhằm kích thích sự sáng tạo và không gây nhàm chán cho bé..
						Thân xe và cổ xe được làm bằng hợp kim chắc chắn và an toàn. thiết kế chắc chắn như xe đạp người lớn, có thể điều chỉnh chiều cao dễ dàng.
						Bộ chén cổ 5 món: được thiết kế chắc chắn bằng thép và linh hoạt với vòng đệm bi, an toàn tuyệt đối trên mọi địa hình, tăng trải nghiệm cho bé.
						Bánh xe: bánh căm, lốp có xăm, kích thước 12 inches, phù hợp chạy trên mọi địa hình, tăng độ an toàn cho bé, giúp bé có những trải nghiệm chân thực hơn.
						Yên xe: có bọc đệm êm và da công nghiệp.
						Khóa yên: chất liệu hợp kim, giúp điều chỉnh độ cao của yên nhanh chóng mà không cần bất cứ dụng cụ chuyên dụng nào.
						Vỏ xe, tay nắm: cao su tổng hợp, không mùi không độc hại cho bé.
						Tải trọng tối đa: 30kg
						Dòng xe UDS được thiết kế có thể thay đổi thành 2 kiểu dáng khác nhau, nhằm kích thích sự sáng tạo và không gây nhàm chán cho bé.
					</p>
				</div>
			<p id="splienquan" style="font-weight:bold; font-size: 18px;color:#e31489;text-decoration:underline #e31489;">Sản phẩm liên quan</p>
			<div class="slide-holder">
				<div class="slide-pager">
					<div class="slide-control-prev">«</div>
					<div class="slide-control-next">»</div>
				</div>
				<div class="slide-container">
					<div class="slide-stage">
						<div class="slide-image"><img src="images/sp3.jpg"/></div>
						<div class="slide-image"><img src="images/sp4.jpg"/></div>
						<div class="slide-image"><img src="images/sp5.jpg"/></div>
						<div class="slide-image"><img src="images/sp6.jpg"/></div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-2">
				<img class="img-responsive" src="images/banner-right.jpg">
			</div>
		</div>
		
	</div>
	
	
    <div class="footer-1">
    
    </div>
     <div class="footer-2">
    <div class="container-fluid">
    
    	<div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">MENU</p>
    			<li><a href="">Trang chủ</a></li>
    			<li><a href="">Sản phẩm</a></li>
    			<li><a href="">Giới thiệu</a></li>
    			<li><a href="">Liên hệ</a></li>
    		

    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THƯƠNG HIỆU</p>
    				<li><a href="">Lego</a></li>
    				<li><a href="">Babie</a></li>
    				<li><a href="">Fisher Price</a></li>
    				<li><a href="">Little Tikes</a></li>
    				<li><a href="">Mattel</a></li>
					<li><a href="">Summer Infant</a></li>
    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    			<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">LIÊN HỆ</p>
    				<li>Địa chỉ:</li>
    				<li>687 Sương Nguyệt Anh, phường 9, quận 1, TPHCM</li></br>
    				<li>Điện thoại:</li>
    				<li>Văn phòng 08.333.9999</li>
    			</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THEO DÕI CHÚNG TÔI</p>
    				<li><input type="text" name="" id="inputFooter" class="form-control" value="" placeholder="Nhập Email của bạn" onblur="this.placeholder = 'Nhập Email của bạn'" onfocus="this.placeholder = ''" thisrequired="required" pattern="Nhập Email của bạn" title=""></li></br>
    				<li>
    				<a href="#"><img class="imgmxh" src="images/icon-zalo.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-face.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-gg.png"></a>
    				</li>
    				
    			</ul>
    	</div>
    </div>
   
    </div>
    <div class="footer-3">
    	Bản quyền 2017 - Cty Cổ phần Thanh Tâm Việt Nam - Giấy chứng nhận ĐKKD số 0106897904 được cấp bởi Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
    </div>
  <div class="nd">
		<div class="tieudechat" >
				-- Chat online --
				<span  style="position:absolute;right:25px;top:10px;" class="glyphicon glyphicon-minus-sign"></span>
			<span  style="position:absolute;right:5px;top:10px;" class="glyphicon glyphicon-remove"></span>

			
		</div>
		<div class="kqchat" >
				<div class="xuatNd" v-show="notEndChat"  v-for="chat in dsChat">
						<!--Nội dung bạn chat: {{mess}}-->
						<div class="message-bubble"><span style="color:red;margin-left:-10px">{{chat.ten}}</span><br>{{chat.noiDungChat}}</div>
				
						<div style="clear: both;"></div>
				</div>
				
  	</div>
    <div class="noidungchat" v-show="notEndChat">
     
        <textarea id="inputChat" v-on:keyup.enter="addChat('Tôi')" v-model="noiDungNhapChat"
				 placeholder="Nhập tin nhắn..."  onfocus="this.placeholder=''" onblur="this.placeholder='Nhập tin nhắn...'"></textarea>
    
    </div>
    
   <img id="backtotop"  src="images/backtotop.png">
</div>
<!--Đăng kí-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form action="#">
			  <div class="form-group">
				<label for="recipient-name" class="control-label" >Tên đăng nhập</label>
				<input type="text" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Email</label>
				<input type="email" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Mật khẩu</label>
				<input type="password" class="form-control" id="recipient-name" required="required">
			  </div>
			   <div class="form-group">
				<label for="recipient-name" class="control-label">Giới tính</label>
				<input type="radio" class="formradio" id="recipient-name" required="required">Nam
				<input type="radio" class="formradio" id="recipient-name" required="required">Nữ
			  </div>
			   
			    <div class="form-group">
				<label for="recipient-name" class="control-label">Ngày sinh</label>
				<input type="date" class="form-control" id="recipient-name" required="required">
			  </div>
			    <div class="form-group">
				<input type="checkbox" class="form-checkbox" id="recipient-name" required="required">
				<label for="recipient-name" class="control-label-agree">Tôi đồng ý chấp nhận điều khoản của Baby Shop</label>
				
			  </div>
			 <div class="modal-footer modal-footer1 ">
				<button type="submit" class="btn btnLogin">Đăng ký</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
			  </div>
			</form>
		  </div>
				
		</div>
	  </div>
	</div>
<!--Đăng nhập-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng nhập tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form  action="" method="POST" role="form"> 
			  <div class="form-group">
				<label for="" class="control-label">Email</label>
				<input type="text" class="form-control" id="emailLogin" value="" required="required" >
			  </div>
			  <div class="form-group ">
				<label for="" class="control-label">Mật khẩu</label>
				<input required="required" value="" type="password" class="form-control"  id="passLogin" >
			  </div>
			    <div class="modal-footer">
				<button id="btnDangNhap" type="submit" class="btn btnLogin">Đăng nhập</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
		 		 </div>
			</form>
		  </div>
		
		
		</div>
	  </div>
	</div>

  <script type="text/javascript" src='js/jquery224.js'></script>
  <script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/chat/chat.js"></script>
  <script type="text/javascript" src='bootstrap-3.3.7/dist/js/bootstrap.min.js'></script> 
	<script type="text/javascript" src="js/slider-banner-index/superfish.js"></script>
	<script type="text/javascript" src="js/slider-banner-index/easyaspie.min.js"></script>
	<script type="text/javascript" src="js/zoom-hover-chitietsp/xzoom.min.js"></script>
	<script type="text/javascript" src="js/slideshow-chitietsp/slideshow.js"></script>
	<script type="text/javascript" src="js/smoothscroll/smoothscroll.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>