<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thanh Tâm Company</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/gioithieu.css">
		 <link rel="stylesheet" href="css/responsive.css">
	 
</head>
<body>
		<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src="images/logo.png"/>
					</a>
				</div>
		
				<div  class="collapse navbar-collapse navbar-ex1-collapse navbar-right1">
						<ul class="nav navbar-nav nav-login">
								<li class="loginsignin"><a id="login" href="" data-whatever="@mdo">Đăng nhập</a></li>
							<li class="loginsignin"><a href="" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Đăng ký</a></li>
							<li ><a href="#" data-toggle="tooltip" data-placement="bottom" title="Click xem chi tiết giỏ hàng!"><img src="images/cart.png"/><span id="tongsoluong"></span></a>
							</li>
						</ul>	
				</div>
			</div>
			<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Trang chủ</a></li>
							<li><a href="#">Sản phẩm</a>
							<ul>
								<li class="titlesubmenu">Thương hiệu</li>
								<li><a href="#">Lego</a>
									<ul>
										<li>
										<a href="#">Bộ xếp hình XYZ</a></li>
										<li><a href="#">Robot điều khiển 2017</a></li>
										<li><a href="#">Siêu nhân điện quang</a></li>
									</ul>
								</li>
								<li>
								<a href="#">Babie</a>
									<ul>
										<li>
										<a href="#">Búp bê Elsa</a></li>
										<li><a href="#">Búp bê Cô bé tóc dài</a></li>
										
									</ul>
								</li>

								<li><a href="#">Fisher Price</a>
									<ul>
										<li>
										<a href="#">Bộ câu cá Pro</a></li>
										<li><a href="#">Cá nhồi bông NewFish</a></li>
										
									</ul>
								</li>
								<li><a href="#">Litle Tikes</a>
									<ul>
										<li>
										<a href="#">Xe đạp địa hình thế hệ mới</a></li>
										<li><a href="#">Xe điều khiển từ xa MyCar</a></li>
										<li><a href="#">Xe ô tô Kid</a></li>
									</ul>
								</li>
								<li><a href="#">Mattel</a>
									<ul>
										<li>
										<a href="#">Gấu nhồi bông 2017</a></li>
										<li><a href="#">Chong chóng điện tử Lazy</a></li>
										
									</ul>
								</li>
								<li><a href="#">Summer Infant</a>
									<ul>
										<li>
										<a href="#">Bể bơi trẻ em LakeLake</a></li>
										<li><a href="#">Áo bơi cho trẻ em chất lượng cao</a></li>
										<li><a href="#">Nón lưỡi trai Cool Boy</a></li>
									</ul>
								</li>
							</ul>
							
						</li>
						<li><a href="gioithieu.html">Giới thiệu</a></li>
						<li><a href="lienhe.html">Liên hệ</a></li>
					</ul>
				
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control form-respon" placeholder="Tìm kiếm" onblur="this.placeholder = 'Tìm kiếm'" onfocus="this.placeholder = ''">
							<button class="icon-respon"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						
					</form>
		
				</div><!-- /.navbar-collapse -->
		</div>
		</div>
	</nav>

	<div class="container-fluid">
		<!--Đường dẫn trang web-->	

		<div id="path">
			<img src="images/home.png" alt="home" />
			<a href="index.html">Trang chủ</a>&nbsp;>
			<a href="gioithieu.html">Giới thiệu</a>
		</div>

		<div class="main-gioithieu">
			<img class="imgcty img-responsive" src="images/congty.jpg" alt="congty">
			<p>Công ty <b style="color: red">Cổ phần Thanh Tâm  (TMV)</b> được thành lập vào tháng 9 năm 1995, là liên doanh với số vốn đầu tư ban đầu là 89,6 triệu USD từ Tập đoàn Toyota Nhật Bản (70%), Tổng công ty Máy Động Lực và Máy Nông Nghiệp - VEAM (20%) và Công ty TNHH KUO Singapore (10%).</p>
			<p>Là một trong những liên doanh đồ chơi có mặt đầu tiên tại thị trường Việt Nam, TMV luôn nỗ lực phát triển bền vững và cùng Việt Nam “Tiến tới tương lai”. TMV đã, đang và sẽ không ngừng cung cấp những sản phẩm có chất lượng cao và dịch vụ sau bán hàng hoàn hảo nhằm mang đến sự hài lòng cao nhất cho khách hàng, cũng như đóng góp tích cực cho sự phát triển của ngành công nghiệp ô tô và đất nước Việt Nam.
            Kể từ khi thành lập đến nay, TMV đã không ngừng lớn mạnh và liên tục phát triển không chỉ về quy mô sản xuất, mà cả doanh số bán hàng. Hiện tại, TMV luôn giữ vị trí dẫn đầu trên thị trường đồ chơi Việt Nam với sản lượng nhà máy của công ty đạt trên 30.000 đồ chơi/năm (theo 2 ca làm việc). Từ 11 nhân viên trong ngày đầu thành lập, tới nay số lượng cán bộ công nhân viên của công ty đã lên tới hơn 1.900 người
			</p>
			<p>
				Bên cạnh các hoạt động sản xuất kinh doanh, TMV luôn nỗ lực đóng góp tích cực cho Ngân sách Nhà nước qua việc hoàn thành tốt công tác nộp thuế, cũng như góp phần thúc đẩy sự phát triển bền vững của cộng đồng và xã hội Việt Nam với nhiều hoạt động dài hơi, thiết thực và có ý nghĩa.
			</p>
			<img class="imgcty img-responsive" src="images/congty1.jpg" alt="congty1"/>
			<p>
				Trong suốt lịch sử hình thành và phát triển, với sự nỗ lực không ngừng của toàn bộ nhân viên TMV, đại lý, nhà cung cấp và đối tác, TMV đã đạt được nhiều thành tựu to lớn & liên tục phát triển lớn mạnh, hoàn thành sứ mệnh đối với khách hàng, đóng góp đáng kể cho nghành công nghiệp ô tô và xã hội Việt Nam. Với những thành tích đạt được, TMV đã vinh dự được Chính phủ Việt Nam trao tặng Huân chương lao động hạng nhì và được coi là một trong những doanh nghiệp có vốn đầu tư nước ngoài hoạt động thành công nhất tại Việt Nam.
			</p>
		</div>
	</div>
	
	
    <div class="footer-1">
    
    </div>
    <div class="footer-2">
    <div class="container-fluid">
    
    	<div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">MENU</p>
    			<li><a href="">Trang chủ</a></li>
    			<li><a href="">Sản phẩm</a></li>
    			<li><a href="">Giới thiệu</a></li>
    			<li><a href="">Liên hệ</a></li>
    		

    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THƯƠNG HIỆU</p>
    				<li><a href="">Lego</a></li>
    				<li><a href="">Babie</a></li>
    				<li><a href="">Fisher Price</a></li>
    				<li><a href="">Little Tikes</a></li>
    				<li><a href="">Mattel</a></li>
					<li><a href="">Summer Infant</a></li>
    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    			<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">LIÊN HỆ</p>
    				<li>Địa chỉ:</li>
    				<li>687 Sương Nguyệt Anh, phường 9, quận 1, TPHCM</li></br>
    				<li>Điện thoại:</li>
    				<li>Văn phòng 08.333.9999</li>
    			</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THEO DÕI CHÚNG TÔI</p>
    				<li><input type="text" name="" id="inputFooter" class="form-control" value="" placeholder="Nhập Email của bạn" onblur="this.placeholder = 'Nhập Email của bạn'" onfocus="this.placeholder = ''" thisrequired="required" pattern="Nhập Email của bạn" title=""></li></br>
    				<li>
    				<a href="#"><img class="imgmxh" src="images/icon-zalo.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-face.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-gg.png"></a>
    				</li>
    				
    			</ul>
    	</div>
    </div>
   
    </div>
    <div class="footer-3">
    	Bản quyền 2017 - Cty Cổ phần Thanh Tâm Việt Nam - Giấy chứng nhận ĐKKD số 0106897904 được cấp bởi Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
    </div>
  <div class="nd">
		<div class="tieudechat" >
				-- Chat online --
				<span  style="position:absolute;right:25px;top:10px;" class="glyphicon glyphicon-minus-sign"></span>
			<span  style="position:absolute;right:5px;top:10px;" class="glyphicon glyphicon-remove"></span>

			
		</div>
		<div class="kqchat" >
				<div class="xuatNd" v-show="notEndChat"  v-for="chat in dsChat">
						<!--Nội dung bạn chat: {{mess}}-->
						<div class="message-bubble"><span style="color:red;margin-left:-10px">{{chat.ten}}</span><br>{{chat.noiDungChat}}</div>
				
						<div style="clear: both;"></div>
				</div>
				
  	</div>
    <div class="noidungchat" v-show="notEndChat">
     
        <textarea id="inputChat" v-on:keyup.enter="addChat('Tôi')" v-model="noiDungNhapChat"
				 placeholder="Nhập tin nhắn..."  onfocus="this.placeholder=''" onblur="this.placeholder='Nhập tin nhắn...'"></textarea>
    
    </div>
    
   <img id="backtotop"  src="images/backtotop.png">
</div>
<!--Đăng kí-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form action="#">
			  <div class="form-group">
				<label for="recipient-name" class="control-label" >Tên đăng nhập</label>
				<input type="text" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Email</label>
				<input type="email" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Mật khẩu</label>
				<input type="password" class="form-control" id="recipient-name" required="required">
			  </div>
			   <div class="form-group">
				<label for="recipient-name" class="control-label">Giới tính</label>
				<input type="radio" class="formradio" id="recipient-name" required="required">Nam
				<input type="radio" class="formradio" id="recipient-name" required="required">Nữ
			  </div>
			   
			    <div class="form-group">
				<label for="recipient-name" class="control-label">Ngày sinh</label>
				<input type="date" class="form-control" id="recipient-name" required="required">
			  </div>
			    <div class="form-group">
				<input type="checkbox" class="form-checkbox" id="recipient-name" required="required">
				<label for="recipient-name" class="control-label-agree">Tôi đồng ý chấp nhận điều khoản của Baby Shop</label>
				
			  </div>
			 <div class="modal-footer modal-footer1 ">
				<button type="submit" class="btn btnLogin">Đăng ký</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
			  </div>
			</form>
		  </div>
				
		</div>
	  </div>
	</div>
<!--Đăng nhập-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng nhập tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form  action="" method="POST" role="form"> 
			  <div class="form-group">
				<label for="" class="control-label">Email</label>
				<input type="text" class="form-control" id="emailLogin" value="" required="required" >
			  </div>
			  <div class="form-group ">
				<label for="" class="control-label">Mật khẩu</label>
				<input required="required" value="" type="password" class="form-control"  id="passLogin" >
			  </div>
			    <div class="modal-footer">
				<button id="btnDangNhap" type="submit" class="btn btnLogin">Đăng nhập</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
		 		 </div>
			</form>
		  </div>
		
		
		</div>
	  </div>
	</div>

  <script type="text/javascript" src='js/jquery224.js'></script>
  <script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/chat/chat.js"></script>
  <script type="text/javascript" src='bootstrap-3.3.7/dist/js/bootstrap.min.js'></script> 
	<script type="text/javascript" src="js/slider-banner-index/superfish.js"></script>
	<script type="text/javascript" src="js/slider-banner-index/easyaspie.min.js"></script>
	<script type="text/javascript" src="js/zoom-hover-chitietsp/xzoom.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll/smoothscroll.js"></script>
	<script type="text/javascript">
		//Tooltip giỏ hàng
 			$('[data-toggle="tooltip"]').tooltip();   
	</script>
   <script type="text/javascript" src="js/script.js"></script>
</body>
</html>