<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thanh Tâm Company</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="superfishmenu/superfish.css">
	<link rel="stylesheet" href="css/lienhe.css">
	<link rel="stylesheet" href="css/responsive.css">
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
	var gmap = new google.maps.LatLng(10.771909,106.6886218,19);
	var marker;
	function initialize()
	{
	    var mapProp = {
	         center:new google.maps.LatLng(10.771909,106.6886218,19),
	         zoom:16,
	        mapTypeId:google.maps.MapTypeId.ROADMAP
	    };
	 
	    var map=new google.maps.Map(document.getElementById("googleMap")
	    ,mapProp);
	 
	  var styles = [
	    {
	      featureType: 'road.arterial',
	      elementType: 'all',
	      stylers: [
	        { hue: '#fff' },
	        { saturation: 100 },
	        { lightness: -48 },
	        { visibility: 'on' }
	      ]
	    },{
	      featureType: 'road',
	      elementType: 'all',
	      stylers: [
	 
	      ]
	    },
	    {
	        featureType: 'water',
	        elementType: 'geometry.fill',
	        stylers: [
	            { color: '#adc9b8' }
	        ]
	    },{
	        featureType: 'landscape.natural',
	        elementType: 'all',
	        stylers: [
	            { hue: '#809f80' },
	            { lightness: -35 }
	        ]
	    }
	  ];
	 
	  var styledMapType = new google.maps.StyledMapType(styles);
	  map.mapTypes.set('Styled', styledMapType);
	 
	  marker = new google.maps.Marker({
	    map:map,
	    draggable:true,
	    animation: google.maps.Animation.DROP,
	    position: gmap
	  });
	  google.maps.event.addListener(marker, 'click', toggleBounce);
	}
	 
	function toggleBounce() {
	 
	  if (marker.getAnimation() !== null) {
	    marker.setAnimation(null);
	  } else {
	    marker.setAnimation(google.maps.Animation.BOUNCE);
	  }
	}
	 
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src="images/logo.png"/>
					</a>
				</div>
		
				<div  class="collapse navbar-collapse navbar-ex1-collapse navbar-right1">
						<ul class="nav navbar-nav nav-login">
	<li class="loginsignin"><a id="login" href="" data-whatever="@mdo">Đăng nhập</a></li>
							<li class="loginsignin"><a href="" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Đăng ký</a></li>
							<li ><a href="#" data-toggle="tooltip" data-placement="bottom" title="Click xem chi tiết giỏ hàng!"><img src="images/cart.png"/><span id="tongsoluong"></span></a>
							</li>
						</ul>	
				</div>
			</div>
			<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="sf-menu nav navbar-nav">
						<li><a href="index.html">Trang chủ</a></li>
							<li><a href="#">Sản phẩm</a>
							<ul>
									<li class="current">
											<a href="followed.html">long menu item sets sub width</a>
											<ul>
												<li class="current"><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
											</ul>
										</li>
										<li>
											<a href="followed.html">menu item</a>
											<ul>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
											</ul>
										</li>
										<li>
											<a href="followed.html">menu item</a>
											<ul>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
												<li><a href="followed.html">menu item</a></li>
											</ul>
										</li>
							</ul>
							
						</li>
						<li><a href="gioithieu.html">Giới thiệu</a></li>
						<li><a href="lienhe.html">Liên hệ</a></li>
					</ul>
				
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control form-respon" placeholder="Tìm kiếm" onblur="this.placeholder = 'Tìm kiếm'" onfocus="this.placeholder = ''">
							<button class="icon-respon"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						
					</form>
		
				</div><!-- /.navbar-collapse -->
		</div>
		</div>
	</nav>

	<div class="container-fluid">
		<!--Đường dẫn trang web-->	

		<div id="path">
			<img src="images/home.png" alt="home" />
			<a href="index.html">Trang chủ</a>&nbsp;>
			<a href="lienhe.html">Liên hệ</a>
		</div>

		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<form id="form1" action="" method="POST" role="form">
					<h3 class="titleContact">Liên hệ chúng tôi</h3>
				
					<div class="form-group">
						<label for="">Họ và tên</label>
						<input required="required" type="text" class="form-control" id="nameContact" placeholder="Nhập họ tên của bạn" onblur="this.placeholder='Nhập họ tên của bạn'" onfocus="this.placeholder=''">
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="email" class="form-control" id="emailContact" placeholder="Nhập email của bạn" onblur="this.placeholder='Nhập email của bạn'" onfocus="this.placeholder=''">
					</div>
					<div class="form-group">
						<label for="">Lời nhắn</label>
						<textarea required="required" name="" id="messContact" class="form-control" rows="3" placeholder="Nhập họ lời nhắn của bạn" onblur="this.placeholder='Nhập lời nhắn của bạn'" onfocus="this.placeholder=''"></textarea>
				
					</div>
					
				
					<button id="btnSend" type="submit" class="btn bg-btn">Gửi</button>
					<button id="btnXoaForm" type="reset" class="btn bg-btn">Huỷ</button>
				</form>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<form id="form2" action="" method="POST" role="form">
					<h3 class="titleContact">Thông tin về công ty</h3>
				
					<table width="100%" cellspacing="100">
					
						<tbody>
							<tr>
								<td>Địa chỉ<img src="images/address.png" class="img-responsive" alt="address"></td>
								<td>687 Sương Nguyệt Anh, phường 9, quận 1, TP.HCM</td>
							</tr>
							<tr>
								<td>Điện thoại<img src="images/phone.png" class="img-responsive" alt="address"></td>
								<td>Văn phòng: 08.333.9999</td>
							</tr>
							<tr>
								<td>Email<img src="images/email.png" class="img-responsive" alt="email"></td>
								<td>contact@gmail.com</td>
							</tr>
						</tbody>
					</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3 align ="center" class="titleContact">Bản đồ công ty</h3>
					<!--<div id="googleMap" >Google Map</div>-->
				
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.513740038512!2d106.68698031480078!3d10.771908992324597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3cc7209acf%3A0xbfec60de8e946615!2zU8awxqFuZyBOZ3V54buHdCBBzIFuaCwgQuG6v24gVGjDoG5oLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1501923770288" width="80%" height="413px"; frameborder="0"  style="margin:10px auto;display:block; border:0" allowfullscreen ></iframe>
			</div>
		</div>
		
	</div>
	
	
    <div class="footer-1">
    
    </div>
      <div class="footer-2">
    <div class="container-fluid">
    
    	<div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">MENU</p>
    			<li><a href="">Trang chủ</a></li>
    			<li><a href="">Sản phẩm</a></li>
    			<li><a href="">Giới thiệu</a></li>
    			<li><a href="">Liên hệ</a></li>
    		

    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THƯƠNG HIỆU</p>
    				<li><a href="">Lego</a></li>
    				<li><a href="">Babie</a></li>
    				<li><a href="">Fisher Price</a></li>
    				<li><a href="">Little Tikes</a></li>
    				<li><a href="">Mattel</a></li>
					<li><a href="">Summer Infant</a></li>
    		</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    			<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">LIÊN HỆ</p>
    				<li>Địa chỉ:</li>
    				<li>687 Sương Nguyệt Anh, phường 9, quận 1, TPHCM</li></br>
    				<li>Điện thoại:</li>
    				<li>Văn phòng 08.333.9999</li>
    			</ul>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    		<ul class="listfooter" style="list-style-type: none">
    			<p class="tieudefooter">THEO DÕI CHÚNG TÔI</p>
    				<li><input type="text" name="" id="inputFooter" class="form-control" value="" placeholder="Nhập Email của bạn" onblur="this.placeholder = 'Nhập Email của bạn'" onfocus="this.placeholder = ''" thisrequired="required" pattern="Nhập Email của bạn" title=""></li></br>
    				<li>
    				<a href="#"><img class="imgmxh" src="images/icon-zalo.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-face.png"></a>&nbsp;&nbsp;
    				<a href="#"><img class="imgmxh" src="images/icon-gg.png"></a>
    				</li>
    				
    			</ul>
    	</div>
    </div>
   
    </div>
    <div class="footer-3">
    	Bản quyền 2017 - Cty Cổ phần Thanh Tâm Việt Nam - Giấy chứng nhận ĐKKD số 0106897904 được cấp bởi Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
    </div>
  <div class="nd">
		<div class="tieudechat" >
				-- Chat online --
				<span  style="position:absolute;right:25px;top:10px;" class="glyphicon glyphicon-minus-sign"></span>
			<span  style="position:absolute;right:5px;top:10px;" class="glyphicon glyphicon-remove"></span>

			
		</div>
		<div class="kqchat" >
				<div class="xuatNd" v-show="notEndChat"  v-for="chat in dsChat">
						<!--Nội dung bạn chat: {{mess}}-->
						<div class="message-bubble"><span style="color:red;margin-left:-10px">{{chat.ten}}</span><br>{{chat.noiDungChat}}</div>
				
						<div style="clear: both;"></div>
				</div>
				
  	</div>
    <div class="noidungchat" v-show="notEndChat">
     
        <textarea id="inputChat" v-on:keyup.enter="addChat('Tôi')" v-model="noiDungNhapChat"
				 placeholder="Nhập tin nhắn..."  onfocus="this.placeholder=''" onblur="this.placeholder='Nhập tin nhắn...'"></textarea>
    
    </div>
    
   <img id="backtotop"  src="images/backtotop.png">
</div>
<!--Đăng kí-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form action="#">
			  <div class="form-group">
				<label for="recipient-name" class="control-label" >Tên đăng nhập</label>
				<input type="text" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Email</label>
				<input type="email" class="form-control" id="recipient-name" required="required">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Mật khẩu</label>
				<input type="password" class="form-control" id="recipient-name" required="required">
			  </div>
			   <div class="form-group">
				<label for="recipient-name" class="control-label">Giới tính</label>
				<input type="radio" class="formradio" id="recipient-name" required="required">Nam
				<input type="radio" class="formradio" id="recipient-name" required="required">Nữ
			  </div>
			   
			    <div class="form-group">
				<label for="recipient-name" class="control-label">Ngày sinh</label>
				<input type="date" class="form-control" id="recipient-name" required="required">
			  </div>
			    <div class="form-group">
				<input type="checkbox" class="form-checkbox" id="recipient-name" required="required">
				<label for="recipient-name" class="control-label-agree">Tôi đồng ý chấp nhận điều khoản của Baby Shop</label>
				
			  </div>
			 <div class="modal-footer modal-footer1 ">
				<button type="submit" class="btn btnLogin">Đăng ký</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
			  </div>
			</form>
		  </div>
				
		</div>
	  </div>
	</div>
<!--Đăng nhập-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Đăng nhập tài khoản</h4>
		  </div>
		  <div class="modal-body">
			<form  action="" method="POST" role="form"> 
			  <div class="form-group">
				<label for="" class="control-label">Email</label>
				<input type="text" class="form-control" id="emailLogin" value="" required="required" >
			  </div>
			  <div class="form-group ">
				<label for="" class="control-label">Mật khẩu</label>
				<input required="required" value="" type="password" class="form-control"  id="passLogin" >
			  </div>
			    <div class="modal-footer">
				<button id="btnDangNhap" type="submit" class="btn btnLogin">Đăng nhập</button>
				<button type="button" class="btn  btnLogin" data-dismiss="modal">Thoát</button>
		 		 </div>
			</form>
		  </div>
		
		
		</div>
	  </div>
	</div>

  <script type="text/javascript" src='js/jquery224.js'></script>
  
  <script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/chat/chat.js"></script>
   <script type="text/javascript" src='bootstrap-3.3.7/dist/js/bootstrap.min.js'></script> 
	<script type="text/javascript" src="js/slider-banner-index/superfish.js"></script>
	<script type="text/javascript" src="js/slider-banner-index/easyaspie.min.js"></script>
	<script type="text/javascript" src="js/zoom-hover-chitietsp/xzoom.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll/smoothscroll.js"></script>
	<script type="text/javascript">
		//Tooltip giỏ hàng
 			$('[data-toggle="tooltip"]').tooltip();   
	</script>
	<script type="text/javascript" src="superfishmenu/hoverIntent.js"></script>
  <script type="text/javascript" src="superfishmenu/superfish.js"></script>
   <script type="text/javascript" src="js/script.js"></script>
</body>
</html>